@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Bitter', serif;
}
